[submodule "make"]
	path = make
	url = ../c-projects-makefile
[submodule "src/log"]
	path = src/log
	url = ../submodule-log
[submodule "src/range"]
	path = src/range
	url = ../submodule-range
[submodule "src/keyargs"]
	path = src/keyargs
	url = ../submodule-keyargs
[submodule "src/window"]
	path = src/window
	url = ../submodule-window
[submodule "src/convert"]
	path = src/convert
	url = ../submodule-convert
[submodule "src/lang"]
	path = src/lang
	url = ../submodule-lang
[submodule "src/table"]
	path = src/table
	url = ../submodule-table
[submodule "src/immutable"]
	path = src/immutable
	url = ../submodule-immutable
[submodule "src/tar"]
	path = src/tar
	url = ../submodules-tar
